.header_button-CV, .button_download-cv {
    background: var(--purple);
    color: var(--white);
    font: var(--button);
    padding-inline-start: 24px;
    padding-inline-end: 24px;
    padding-block-start: 13px;
    padding-block-end: 13px;
    border-radius: 4px;
    text-transform: uppercase;
    border: none;
}
.header_button-CV{
    margin-top: 2rem;
}
.button_download-cv {
    text-decoration: none;
    margin-top: 20px;
    width: 270px;
}


