@media screen and (min-width: 1024px){
    .hero-image img{
        inline-size: 500px;
        block-size: 504px;
    }
    .img-desktop_base{
        padding-right: 10px;
    }
    /* .footer-copyright{
        display: flex;
    } */
}

@media screen and (min-width: 1280px){}

@media screen and (min-width: 1366px){}