.footer{
    color: var(--purple);
    font:var(--body1);
    text-align: center;
}

.footer-copyright{
    padding-top: 28px;
    padding-bottom: 24px;
}

/* .social_icon-phone footer, .social_icon-mail footer, .social_icon-github footer {
   margin-left: 30px;
} */