@media screen and (max-width: 599px){
	.header{
		position: sticky;
		z-index: 10;
		top: 0;
		backdrop-filter: blur(15px);
	}
.img-primary{
	border-radius: 20px;
	margin-top: 25px;
	width: 340px;
    height: 230px;
}
/* .projects .projects-down img {
	padding: 250px;
} */
.button_download-cv {
    text-decoration: none;
    margin-top: 20px;
    width: 340px;
}
.footer-logo{
	display: none;
}
.header_buttons li{
	text-decoration: none;
	list-style: none;
}
}

@media screen and (min-width: 600px){
.header{
		position: sticky;
		z-index: 10;
		top: 0;
		backdrop-filter: blur(15px);
	}
.hero{
	display: flex;
	gap: 32px;
}
.hero_description{
	order:1;
	max-inline-size: 450px;
	padding-top: 30px;
}
.hero-img{
	order: 2;
	flex: 1;
	text-align: end;
}
.header_button-CV{
	display: none;
} 
.header_buttons ul {
	display: flex;
	padding-top: 50px; 
	list-style: none;
	gap: 40px;
}
.header_buttons ul a {
	text-decoration: none;
	color: var(--purple);
	font: var(--headline7);
}
.header_buttons-link1 {
	margin-left: 100px;
	
}
.project_responsive, .project_topMovies, .project_sodimac{
	display: flex;
	align-items: center;
}
.project_responsive-img, .project_sodimac-img{
	order:1;
	flex:1;
}
.project_topMovies-img{
	order: 2;
	flex: 2;
	
}
.project_responsive-description, .project_sodimac-description{
	order:2;
	flex:1;
	
}
.project_topMovies-description{
	order:1;
	flex:2;
	
}
.form, .form-title{
	align-self: stretch;
}
/* esto selecciona los elementos y los coloca en zigzag impares a un lado y pares al otro, para no
hacerlo por partes, ya lo demás toman el estilo del padre */
/* .project_responsive:nth-child(odd) .project_responsive-img{
	order: 2
} */
.footer{
	padding-top: 150px;
}
.footer-logo{
	display: none;
}
.footer .social_icon-linkedin, .footer .social_icon-phone, .footer .social_icon-mail, .footer .social_icon-github{
	margin-left: 30px;
}
}


