@import "./button.css";
@import "./header_buttons.css";
@import "./icons.css";
@import "./header.css";
@import "./hero.css";
@import "./tablet.css";
@import "./desktop.css";
@import "./header_buttons.css";
@import "./wrapper.css";

:root{
	--fontBase: 'Poppins', sans-serif;
	--headline1: bold 95px/153px var(--fontBase);
	--headline2: bold 59px/95px var(--fontBase);
	--headline3: bold 48px/77px var(--fontBase);
	--headline4: bold 34px/55px var(--fontBase);
	--headline5: bold 24px/38px var(--fontBase);
	--headline6: bold 18px/32px var(--fontBase);
	--headline7: bold 14px/28px var(--fontBase);
	--body1: 16px/25px var(--fontBase);
	--body2: 14px/22px var(--fontBase);
	--body3: 20px/31px var(--fontBase);
	--button: bold 14px/25px var(--fontBase);
	--caption: 12px/19px var(--fontBase);
	--purple: #310A90;
	--green: #42E2B8;
	--white: #ffffff;
	--gradient: radial-gradient(41.48% 11.48% at 2.38% 8.52%, #747DE9 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(135deg, #72EDF2 0%, #5151E5 100%);
	--gradient2: radial-gradient(41.48% 11.48% at 2.38% 8.52%, #1FA2FF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(135deg, #12D8FA 0%, #A6FFCB 100%);
}
*{
	margin: 0;
	padding: 0;
}
body{
	font-size: 62.5%;
	background: var(--gradient2);
	min-block-size: 100vh;
}


.header-logo{
	margin-top: 2rem;
	
}

h1{
	font: var(--body1);
	
}

.img-primary{
	border-radius: 20px;
	margin-top: 25px;
	width: 285px;	
}
/* .hello{
	font: var(--headline5);
}
.hello-name{
	font: var(--headline4);
	color: var(--purple);
	
} */
/* esto es lo mismo que las clases hello and hello-name pero
usando la seudoclase y otra opción en lugar de span:nth-of-type(1)
se puede colocar span:first-child(solo al primero))*/
.hero h1 span:nth-of-type(1){
	font: var(--headline5);
}
.hero h1 span:nth-of-type(2){
	font: var(--headline4);
	color: var(--purple);
}
/* .hero_description{
	gap: 16px;
} */

.hello-text {
	font:var(--body2);
}
.about-me{
	font:var(--body1);
	margin-top: 40px;
}
.projects-invite{
	font:var(--headline6);
	margin-top: 20px;
	color: var(--purple);
}

.projects-down{
	margin-top: 10px;
	padding-left: 130px;
}
.button_download-cv{
	width: 280px;
}
.project_responsive-img img{
	position: absolute;
	margin-top: 20px;
}
.img-desktop{
	width:240px;
	height:177;
	border: 10px solid #E7E7E7;
	margin-left: 25px;
	
}
.img-batatabit{
	width: 240px;
	height: 175px;
	padding-top: 10px;
	padding-left: 35px;
}
.img-desktop_base{
	padding-top: 185px;
	width: 280px;
	height: 6px;
	padding-left: 22px;
	
}
.img-screen-s{
	width:80px;
	height:160px;
	padding-top: 45px;
}
.img-batatabit_cel{
	width:70px;
	height:130px;
	padding-top: 55px;
	padding-left: 5px;
}
.project_responsive-description{
	padding-top: 250px;
}
.responsive-links {
	padding-top: 20px;
	list-style: none;
}
.responsive-links a{
	text-decoration: none;
	width: 280px;
}

.batatabit-project, .batatabit-code{
	position: static;
	width: 280px;
	height: 45px;
	font-weight: bold;
	font-size: 14px;
	border: 2px solid var(--purple);
	box-sizing: border-box;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.responsive-description{
	font: var(--body1);
}
.batatabit-project{
	background: var(--purple);
	margin-top: 15px;
	color:var(--white);
}
.batatabit-code{
	color: var(--purple);
}
footer{
	margin-top: 300px;
}