@media screen and (min-width: 851px){
    .header{
	 padding-top: 25px; 
  }
    .header_buttons ul {
        display: flex;
        padding-top: 50px; 
        list-style: none;
        gap: 40px;
    }
    .header_buttons ul a {
        text-decoration: none;
        color: var(--purple);
        font: var(--headline7);
    }
    .header_buttons-link1{
        margin-left: 180px;
    }
    .header_button-CV{
        display: none;
    }
    .hero{
    display: flex;
   }   
   .hero_description{
    margin-top: 20px;
    order: 1;
    }
    .hero-img{
        order:2;
        flex: 1;
	    text-align: end;
    }
   .img-primary{
    width: 350px;
    height: 250px;
   }
   .icons{
     margin-top: 300px;
   }
  
   
   .projects-down img {
    text-align: center;
    flex: 1;
  
   } 
   .footer-copyright{
       font-size: 12px;
       padding-left: 50px;
   }
   .footer-logo{
       display: block;
       width: 50px;
       height: 50px;
       padding-top: 15px;
   }
   .footer .social-media{
    
        display: inline-flex;
    }
    .footer .social_media-icons{
        order: 3;
        flex: 1;
        margin-left: 40px;
    }
    .footer .social_icon-linkedin,  .footer .social_icon-phone,  .footer .social_icon-mail,  .footer .social_icon-github{
        padding: 5px;

       
    } 

}